- responseData = messaget






doctype html
html
  head
    title userHome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    style

      h2{
        background-color: powderblue;
        margin-top: 0;
      }
      h3{
        font: 30px Montserrat, sans-serif;
        color:  #929191;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #f8f8f8;
        margin-bottom: 0;
        padding-bottom:10px;
      }

      p{
        font: 20px Montserrat, sans-serif;
        color: #929191;
        margin-left: 200px;
        margin-right: 200px;
        background-color: #f8f8f8;
        margin-top: 0;
      }
      font: 20px Montserrat, sans-serif;
                    line-height: 1.8;
                    color: #f5f6f7;
                    }
                    p {font-size: 16px;}
                    .margin {margin-bottom: 45px;}
                    .bg-1 {
                    background-color: powderblue;
                    color: #ffffff;
                    }
                    .bg-2 {
                    background-color: #474e5d; /* Dark Blue */
                    color: #ffffff;
                    }
                    .bg-3 {
                    background-color: #ffffff; /* White */
                    color: #555555;
                    }
                    .bg-4 {
                    background-color: #2f2f2f; /* Black Gray */
                    color: #fff;
                    }
                    .container-fluid {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    }
              .navbar {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border: 0;
                    border-radius: 0;
                    margin-bottom: 0;
                    font-size: 15px;
                    letter-spacing: 5px;
                }


  body
      nav.navbar.navbar-default
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='/user/home') Home
              #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/user/addAvailatime') Availatime
                  li
                    a(href='/user/friend') Friend
                  li
                    a(href='/user/logOut') LogOut

      div(style="background-color:powderblue;margin-top:0;margin:0;")
        p#demo Friends' Availalist




      script.
            var data = !{messaget};
            var i;
            var list = "";
            for(i=0;i < data.length; i += 1) {
                list += "<h2><br><br><h3>"+ data[i].userName + "</h3><p>I'll be free from " + data[i].startTime  + " to " + data[i].endTime+ " on " + data[i].date +"</p><p> I prefer "+ data[i].tendency + "</p>";
            }
            document.getElementById("demo").innerHTML = list